<h2> Genius Login </h2>
<%= flash[:success] || flash[:error] %>
<br />

<form action="<%= session_url %>" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="user_username">Username</label>
	<input type="string" value="<%=@user.username%>" id="user_username" name="user[username]">
	<br />

	<label for="user_password">Password</label>
	<input type="password" id="user_password" name="user[password]">
	<br />

	<input type="submit" value="Login">
</form>

<%=button_to "Sign Up!", new_user_url, method: "get" %>